
@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --color-blue: #99DDF5;
    --color-green: #54B244;
    --color-white: #F6F6F6;
    --font-bayon: "Bayon";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.bayon-regular {
    font-family: "Bayon", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  

nav {
    width: 100dvw;
    height: 4rem;
    background-color: var(--color-white);
}

nav > .logo-container {
    display: flex;
    
}

nav > .logo-container > .logo {
    color: #000000;
    text-decoration: none;
    font-family: "Bayon", sans-serif;
    font-size: 1.5rem;
}